@import "tailwindcss";

@theme {
  --text-color: var(--text-color, #374151);
  --color-primary: var(--primary-color, #1e40af);
  --color-secondary: var(--secondary-color, #9333ea);
}

body {
  color: var(--text-color, #374151);
  background-color: var(--app-background-color, #f9fafb);
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
}
